.form
  .form-item
    %li.list
      - if user_signed_in?
        = link_to blogs_path do
          =fa_icon 'line-chart',class:'icon'
      - else
        = render root_path
    %li.list
      = link_to new_number_path do
        =fa_icon 'calculator',class:'style'
    %li.list
      =link_to edit_user_path(current_user) do 
        =fa_icon 'cog',class:'font'